body{
    background-color: black;
    color:white;
}

.person1{
    border:2px solid green;
    width: 400px;
    text-align: center;
}

.person1 img{
    width: 35%;
    height: auto;
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 30%;
}

.cards{
    display: flex;
    /* margin: 5%; */
    padding: 5%;
    gap: 4%;
}