body{
    background: black;
    color:white;
}

.header{
    background-color: rgb(93, 90, 90);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 97%;
    position: fixed;
    height: 30px;
}

.header a{
    color: white;
}